@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-primary: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  /* THEME COLOR  */
  --color-theme-gray: var(--theme-gray);
  --color-theme-dark-purple: var(--theme-dark-purple);
  --color-theme-dark-purple-2: var(--theme-dark-purple-2);
  --color-theme-dark-purple-3: var(--theme-dark-purple-3);
  --color-theme-dark-blue: var(--theme-dark-blue);
  --color-theme-dark-blue-2: var(--theme-dark-blue-2);
  --color-theme-dark-blue-3: var(--theme-dark-blue-3);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(18.472% 0.00624 300.859); /* #131215 */
  --foreground: oklch(1 0 0);
  --card: oklch(18.472% 0.00624 300.859);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(18.472% 0.00624 300.859);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(58.159% 0.2253 291.384); /* #8253F2 */
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  /* THEME COLOR  */
  --theme-gray: #919193;
  --theme-dark-purple: #131215;
  --theme-dark-purple-2: #1c1225;
  --theme-dark-purple-3: #2c2832;
  --theme-dark-blue: #232428;
  --theme-dark-blue-2: #35363b;
  --theme-dark-blue-3: #1c1c1e;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background font-primary text-foreground;
  }

  button {
    cursor: pointer;
  }

  img {
    pointer-events: none;
  }

  /* Remove number input arrows (Chrome, Safari, Edge, Opera) */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove number input arrows (Firefox) */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  /* table scrollbar design customize */
  [data-slot="table-container"]::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  [data-slot="table-container"]::-webkit-scrollbar-track {
    background: transparent;
  }

  [data-slot="table-container"]::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  [data-slot="table-container"]::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  [data-slot="table-container"]::-webkit-scrollbar-button {
    display: none;
  }

  [data-slot="table-container"] {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }

  /* card styles */
  .cst-gradient-card {
    border-radius: 22px;

    --bg: var(--color-theme-dark-blue);
    --grad: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #34333a 100%);

    border: 1px solid transparent;
    background-image: linear-gradient(var(--bg), var(--bg)), var(--grad);
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;

    box-shadow: inset 0 5px 10px 0 rgba(168, 130, 207, 0.1);
  }
}
